NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-long-random-string

KEYCLOAK_ISSUER=http://localhost:8081/realms/vital-records-dev
KEYCLOAK_CLIENT_ID=vital-frontend
KEYCLOAK_CLIENT_SECRET=replace-if-confidential-client

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
